rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function allowedUser() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'jorgearthur100@gmail.com',
          'vitoria.castor.55@gmail.com'
        ];
    }

    match /households/jorge-vitoria/{document=**} {
      allow read, write: if allowedUser();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
